<div class="sidebar-content <%= sidebar_class(@visible, @view) %>">
  <%= if @view == :user_list do %>
    <%= for {name, _} <- @users do %>
      <p> <%= name %> </p>
    <% end %>
  <% end %>
  <%= if @view == :user_profile do %>
    <img class="avatar" src="<%= gravatar_url(@data.email) %>">
    <strong><%= @data.name %></strong>
    <p><%= @data.email %>
  <% end %>
</div>
